<html>
<head>
    <link rel="stylesheet" type="text/css" href="/static/css/hello.css">
</head>
<body style="margin:0px; padding:0px;">


<div style="margin: auto; padding-left: 50px; padding-right: 50px; padding-top: 35px; padding-bottom: 50px;
height: 520px">

    <div style="border: 30px solid black">
        <form action="/prog1/" method="post" style="border: 30px solid black; margin: 0px;">
        <input
                style="
                text-align:center;
            width: 100%;
            font-size: 32px;
            height: 500px;
            border: 3px solid gray;
            padding: 20px;
            padding-top: 200px;"
                name="questionText" class="questionText" placeholder="what would you like to know?"></input>
            <br><br>
            <input style="margin-top: 25px" type="submit" value="Submit">
        </form>
    </div>
</div>

</body>
</html>